:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.wrapper {
  background-color: white;
  color: black;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dashed hsl(0deg 0% 75%);
  padding: 24px;
  margin-bottom: 32px;
}
.star-wrapper {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}
.gold-star {
  width: 32px;
  height: 32px;
}
h2 {
  margin-bottom: 16px;
}
